.alpinjs-dialog-overlay {
    position             : fixed;
    top                  : 0;
    left                 : 0;
    bottom               : 0;
    right                : 0;
    background           : rgba($color: #000000, $alpha: .3);
    box-shadow           : 0 10px 15px rgba($color: #000000, $alpha: .1);
    background-blend-mode: overlay;
    opacity              : 0;
}

.alpinjs-dialog {
    position       : fixed;
    top            : 0;
    left           : 0;
    bottom         : 0;
    right          : 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
    box-sizing     : border-box;
    overflow       : hidden;


    &[dialog-position=right] {

        .alpinjs-dialog-wrapper {
            justify-content: flex-end;

            .alpinjs-dialog-container {
                height       : 100vh;
                box-sizing   : border-box;
                border-radius: unset;
            }
        }
    }

    &[dialog-position=left] {

        .alpinjs-dialog-wrapper {
            justify-content: flex-start;

            .alpinjs-dialog-container {
                height       : 100vh;
                box-sizing   : border-box;
                border-radius: unset;
            }
        }
    }

    &[dialog-position=top] {
        .alpinjs-dialog-wrapper {
            height     : 100vh;
            align-items: flex-start;

            .alpinjs-dialog-container {
                width        : 100vw;
                box-sizing   : border-box;
                border-radius: unset;
            }
        }
    }

    &[dialog-position=bottom] {
        .alpinjs-dialog-wrapper {
            height     : 100vh;
            align-items: flex-end;

            .alpinjs-dialog-container {
                width        : 100vw;
                box-sizing   : border-box;
                border-radius: unset;
            }
        }
    }

    .alpinjs-dialog-wrapper {
        width          : 100%;
        max-height     : 100%;
        padding        : 10px 0;
        overflow       : auto;
        display        : flex;
        justify-content: center;
    }

    .alpinjs-dialog-container {
        background   : #fff;
        width        : fit-content;
        height       : fit-content;
        padding      : 25px;
        border-radius: 8px;
    }
}